name: Scala CI

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'

      - uses: sbt/setup-sbt@v1
      - name: Build and test
        shell: bash
        run: sbt -v +test

      - name: Compile
        run: sbt compile

      - name: Run tests
        run: sbt test

      - name: Upload dependency graph
        uses: scalacenter/sbt-dependency-submission@ab086b50c947c9774b70f39fc7f6e20ca2706c91
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  run_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: sbt/setup-sbt@v1
      - name: Build and test
        shell: bash
        run: sbt -v +test

      - uses: actions/checkout@v4
      - name: export Coverage
        run: sbt clean coverage test coverageReport coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}