name: Scala CI + SonarScan

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]

permissions:
  contents: read
  security-events: write

jobs:
  ci:
    name: Build, Test, Coverage & SonarCloud
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'

      - uses: sbt/setup-sbt@v1

      - name: Compile
        run: sbt compile

      - name: Run tests (cross version)
        run: sbt -v +test

      - name: Generate Scoverage report
        run: sbt clean coverage test coverageReport

      - name: Upload Coveralls
        run: sbt coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
