name: Scala CI + SonarScan 2 runners

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]

permissions:
  contents: read
  security-events: write

jobs:
  build-and-test:
    name: Build, Test & Coverage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'

      - uses: sbt/setup-sbt@v1

      - name: Compile
        run: sbt compile

      - name: Run tests (cross version)
        run: sbt -v +test

      - name: Generate Scoverage report
        run: sbt clean coverage test coverageReport

      - name: Upload Coverage Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: scoverage-report
          path: target/scala-3.7.3/scoverage-report

  sonar-scan:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'

      - uses: sbt/setup-sbt@v1

      - name: Download Coverage Artifacts
        uses: actions/download-artifact@v4
        with:
          name: scoverage-report
          path: target/scala-3.7.3/scoverage-report

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
